@charset "utf-8";
#f-table{
  border-collapse: separate;
  border-spacing: 10px 0px;
  width: 80%;
}
.member{
  background-color: #000042;
  color: white;
}
table td.bg-bl {
  background: #145ae1;
  color: white;
}
table td.bg-sm {
  background: #f0f0f4;
}
table td.bg-gr {
  background: #dbdbe4;
}
table td {
  
  margin: 12px;
  line-height: 1.4;
}
.h2-visit {
  font-size: 30px;
}

.txt-area {
  background-color: #e3f1ff;
  padding: 15px;
  margin: 30px 15px 30px 15px;
}

.txt-area:nth-child(2n+1) {
  flex-direction: row;
}

.txt-area:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: #e1ffec;
}

.txt {
  padding: 7px;
  font-size: 1.6rem;
}

.txt-span {
  color: red;
}
.fs26{
  font-size: 2.6rem;
}
.fs40{
  font-size: 4.0rem;
}
.img-area {
  float: left;
}

.right {
  float: right;
}

.customer {
  width: 120px;
  box-shadow: 5px 5px rgb(59, 59, 59);
  margin: 0px 20px 10px 0px;
}

.customer-right {
  margin: 0px 0px 10px 20px;
}

.name {
  font-size: 14px;
  padding: 1px 5px;
  text-align: center;
}

.div-test {
  background-color: rgb(17, 17, 17);
}

.none-slide {
  width: 90%;
}

.swiper-pagination {
  margin-top: 1vw;
  position: relative;
}

.slide2 {
  position: absolute;

}

.div-flex {
  display: flex;
}

.p-machine-type-eng {
  padding: 0px;
}

#title-cardio {
  color: rgb(0, 238, 255);
}

#title-PlateRorded {
  color: rgb(255, 67, 67);
}

#title-Hydraulic {
  color: rgb(255, 123, 0);
}

#title-CableStation {
  color: rgb(229, 255, 0);
}

#title-Selectorized {
  color: rgb(9, 255, 0);
}

#title-Stretch {
  color: rgb(108, 255, 127);
}

.p-machine-type-ja {
  font-size: 0.9em;
}

.p-machine-type-ja {
  padding: 0px;
}

.p-machine-description {
  padding: 0px;
}


.machine-text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  background: -webkit-linear-gradient(150deg, #7b93ff, #00ffd0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 10%;
  font-size: 5em;
  font-weight: 1000;
  /* box-shadow: rgb(0, 0, 0) 0 0 5px; */
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-style: italic;

}

.machine-text span {
  font-size: 1.5em;
}

#cardio {
  text-shadow: rgb(115, 234, 255) 0 0 10px;

}

#free-weight {
  background: -webkit-linear-gradient(150deg, #333333, #000000);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  text-shadow: rgb(255, 48, 48) 0 0 10px;
}

#selec {
  background: -webkit-linear-gradient(150deg, #00ff0d, #00ff95);
  -webkit-background-clip: text;
  text-shadow: rgb(255, 255, 255) 0 0 3px;
}

#cable-station {
  text-shadow: rgb(255, 251, 0) 0 0 20px;
  background: -webkit-linear-gradient(150deg, #ffffff, #fffb11);
  -webkit-background-clip: text;

}

#hydraulic {
  background: -webkit-linear-gradient(150deg, #ffffff, #ffa600);
  -webkit-background-clip: text;
  text-shadow: rgb(255, 183, 76) 0 0 10px;
}

#stretch {
  text-shadow: rgb(101, 255, 81) 0 0 10px;
  background: -webkit-linear-gradient(150deg, #ffffff, #b8ffa6);
  -webkit-background-clip: text;

}

.p-support {
  padding: 0px 20px;
}

.heading03 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-size: clamp(2rem, 4vw, 4.5rem);
  text-align: center;
  margin-bottom: 0px;
}

.heading03::before,
.heading03::after {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #0044ff;
}

.heading03::before {
  margin-right: 20px;
}

.heading03::after {
  margin-left: 20px;
}

.swiper {
  margin: 0 auto;
  width: 75%;
}

#h2-benefit {
  margin-top: 7vw;
}

.s-four-wrap {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

#gym-slide {
  max-width: 700px;

}

.heading {
  padding: 5px 5px 5px 42px;
  background: linear-gradient(#77c3df, #0f50db);
  font-size: 2.5rem;
  color: white;
  line-height: 1.3;
  z-index: -1;
}

#A {
  font-size: 5rem;
  padding: 0px 0px 0px 20px;
}

#A-description {
  padding: 0px 20px 20px 20px;
  font-weight: 900;
}

.san_box {
  background: #eeeeee;
  position: relative;
  margin: 0 0 80px;
}

.san_box:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 50vw 0 50vw;
  border-color: #f0f0f0 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.san_box .san_in {
  text-align: center;
  padding: 30px 0 0;
}

.san_box .san_in .san_t_a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px;
}

.san_box .san_in .san_t_b {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.s-four-text,
.s-four-box {
  /* position: absolute; */
  width: 100%;
  left: 0;
  text-align: center;
  color: white;
}

.s-four-box {
  bottom: 0;
  height: 30%;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.75);
  text-align: left;
}

.heading06 {
  margin-top: 11vw;
  position: relative;
  padding-top: 50px;
  text-align: center;
}

.heading06 span {
  position: relative;
  z-index: 2;
}

.heading06::before {
  content: attr(data-en);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 174, 255, 0.2);
  font-size: 70px;
  font-style: italic;
}

.s-four-text {
  top: 15%;
  padding: 10px;
  color: rgb(221, 215, 221);
  font-weight: bold;
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000, -1px 0px 0px #000,
    0px 1px 0px #000, 0px -1px 0px #000;
  color: #cfcdcc;
  background: #020010;
  font-size: 16pt;
  line-height: 1;
  margin: 10px 0px;
  padding: 10px 5px 10px 5px;
  box-shadow: 1px 3px 7px 0px #666666;
  border-top: 3px solid #805df2;
  border-radius: 5px;
}


h2 {
  text-align: center;
}

.center01 {
  text-align: center;
  margin-top: 3vw;
}

.center02 {
  text-align: center;
}

.img-first-view {
  width: 100%;
  height: auto;
}

.first-view {
  position: relative;
}

.child {
  /*aタグを画像の真ん中に*/
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#case-div {
  margin: 0 auto;
  max-width: 1240px;
}

.case {
  background-image: url(../image/headingback.png);
  background-position: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* 料金表 */

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  max-width: 1000px;
}

table tr {
  background-color: #fff;
  padding: .35em;
  border: 2px solid #eee;
}

table tr:last-child {
  border: none;
}

table th {
  padding: 1.2em 0.7em;
  border-right: 2px solid #fff;
}

table td {
  padding: 1.2em 0.7em;
  border-right: 2px solid #eee;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

table th {
  font-size: 1.1em;
}

table thead tr {
  background-color: #50535d;
  color: #fff;
}

table tbody th {
  border-right: 2px solid #eee;
}

th.non {
  border-right: none;
}

.price {
  color: #000;
  font-weight: bold;
  font-size: 1.3em
}

.price span {
  font-size: .6em;
}

.red_bk {
  background: #e81010;
}

.red-txt {
  color: #e81010;
  font-size: 1.5em;
}

.btn {
  background: #e81010;
  /* border: 2px solid #e81010; */
  color: #fff;
  padding: 1em;
  border-radius: 20px;
  display: block;
  text-decoration: none;
  font-size: .8em
}

.btn:hover {
  background: #fff;
  border: 2px solid #e81010;
  color: #e81010;
  transition: .2s;
}

table .btnarea td {
  padding: .2em .5em;
  border-right: none
}

/* 料金表 */
.case-image {
  margin: 0 auto;
  width: 95%;
}


.h2-visit {
  color: red;
  margin-bottom: 10px;
}

.h2-quiztion {
  color: white;
  background-color: black;
  margin-bottom: 0px;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  padding: 1.5rem 0rem;
}

.h2-quiztion span {
  color: red;
}

.anser {
  color: white;
  background-color: blue;
  opacity: 0.9;
  padding: 3vw 2vw;
  border: double 10px #fff;
  /* 太さ10pxの灰色の二重線の枠線をひく*/
}

.space {
  height: 15vw;
}

.image-div {
  text-align: center;
}

.div-campaign {
  text-align: center;
  /* width: 100%;*/
}

.image-campaign {
  margin-top: 5vw;
  max-width: 900px;
}

#quiztion {
  background-image: url(../image/dumbbell.JPG);
  background-size: cover;
  max-width: 1240px;
  margin: 10vw auto;
}

/* HF24を選ぶメリット */
.div-hf24-merit {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(41, 73, 255);

}

body, html {
  width: 100%;
  height: 100%;
}

header {
  padding: 20px 0;
}

.div-hf24-merit {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.div-hf24-merit h3 {
  font-size: 60px;
  text-align: center;
  background-color: #0f50db;
  width: 100%;
}

.div-hf24-merit p {
  width: 100%;
  background-color: rgb(71, 71, 71);
}

.div-hf24-merit>div {
  padding: 350px 0;
  color: yellow;
  background-position: top center;
}

.div-hf24-merit>div:nth-of-type(odd) {
  background-color: black;
  /*skew*/
  transform: skewY(5deg);
}

.div-hf24-merit>div:nth-of-type(odd)>section {
  /*skew*/
  transform: skewY(-5deg);
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-hf24-merit>div:nth-of-type(even) {
  background-color: #0f50db;
  transform: skewY(-5deg);
}

.div-hf24-merit>div:nth-of-type(even)>section {
  transform: skewY(5deg);
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-hf24-merit>div:nth-of-type(1) {
  /* background-image: url(../image/point_01.jpg); */
  background-image: url(../image/worker.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(2) {
  background-image: url(../image/point_02.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(3) {
  background-image: url(../image/salespoint_01.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(4) {
  background-image: url(../image/point_04.jpg);
  background-size: cover;
}

/* HF24を選ぶメリット */
/* 小見出し */
.heading {
  margin: 10vw 0vw 5vw 0vw;
  text-align: center;
}


.heading:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index: -2
}

.heading-orange {
  margin: 10vw 0vw 5vw 0vw;
  text-align: center;
}

.heading-orange {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: linear-gradient(#ff8009, #ffc06e);
  font-size: 2.5rem;
  color: white;
  line-height: 1.3;
  z-index: -1;
}

.heading-orange:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index: -2
}

/* 小見出し */

p>span {
  color: red;
}

#div-feeling {
  text-align: center;
}

#hatena {
  height: 100px;
}

/* tuika */

.swiper-slide-active .s-four-text {
  animation: slideFromRight 1.5s ease 0s 1 normal;
}

.swiper-slide-active .s-four-box {
  animation: slideFromRightBox 1.0s ease 0s 1 normal;
}

/* tuika */

.Text-Span {
  position: relative;
  z-index: 1;
}

.Text-Span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0%;
  height: 4px;
  background: #5bc8ac;
  z-index: -1;
  transition: all 0.8s;
}

.Text-Span.isActive:after {
  width: 100%;
}

.feeling-image {
  margin: 1.5vw 0vw;
  max-width: 1290px;
  width: 75%;
}

/* 以下アコーディオンメニュー */
.s_01 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;

}

.s_01 .accordion_one .accordion_header {
  background-color: #0f50db;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 11%;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;

}

.s_01 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #0f50db;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #0f50db;
}

.s_01 .accordion_one .accordion_header:hover {
  opacity: .8;
}

.s_01 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.s_01 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before, .s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner {
  display: none;
  /* padding: 30px 30px; */
  border-left: 2px solid #0f59fa;
  border-right: 2px solid #0f59fa;
  border-bottom: 2px solid #0f59fa;
  box-sizing: border-box;
}


.s_01 .accordion_one .accordion_inner .box_one {
  /* これ高さを決める */
  height: 150px;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

#div-futter {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.div-futter-child {
  flex-grow: 1;
}

/* parent */
#div-gym-title {
  background-color: rgb(193, 248, 255);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5vw;
}

#gym-img {
  width: 30%;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));

}

#gym-img::after {
  background-image: linear-gradient(rgb(88, 195, 214), rgb(8, 42, 87));
  filter: blur(20px);
  transform: translateY(10px) scale(1.1);
  mix-blend-mode: color-burn;
}

#gym-name {
  padding: 0px;
  margin-top: 6vw;
  font-size: 3rem;
  margin-right: 5vw;
}

dt {
  padding: 2px;
  border-radius: 2px;
  background-color: gray;
  color: white;
}

#div-copylight {
  background-color: #000042;
  height: 55px;
  text-align: center;

}

small {
  color: white;
  font-size: 1.6rem;
}

#div-futter-left {
  margin-right: 1vw;
}

#div-futter-right {
  margin-left: 1vw;
}

iframe {
  width: 100%;
}

a {
  color: #145ae1;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 18px;
  }

  .s_01 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

  .machine-text {
    padding: 0px;
  }

}

@media screen and (max-width: 767px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}

/* アコーディオンメニュー */
/* 以下ボタン */
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";



.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.5rem;
}

a.btn-custom01 {
  font-size: clamp(1.0rem, 2.5rem, 2.5rem);
  margin: 0.5rem 0rem;
  padding: 0;
  border-radius: 0.75rem;
  margin-bottom: 8vmax;
}


a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #a82700;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.fas {
  vertical-align: middle;

}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: rgb(255, 81, 0);
}



.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

/* ボタン */
.copy-light {
  font-size: 1.6rem;
  color: #fff;
  background: #000042;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.p-visit {
  text-align: center;
}

#flex {
  display: flex;
}

/* 767px以下（スマホ用）*/
@media (max-width: 767px) {
  #gym-name {
    margin-top: 4.5vw;
    font-size: 2.1rem;
  }

  #free-weight {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }

  table {
    width: 100%;
  }

  th {
    padding: 0px 0px;
  }

  #h2-benefit {
    font-size: 2.5rem;
  }

  .txt-merit {
    color: white;
    background-color: #0f50db;
  }

  .btn-custom01-front {
    padding: 1rem 4rem 1rem 4rem;
  }

  #img-plan {
    width: 100%;
  }

  .swiper {
    width: 95%;
  }

  .heading06 {
    font-size: 30px;
  }

  .swiper-slide {
    width: 100%;
  }

  .pc-content {
    display: none;
  }

  .case-div-child {
    text-align: center;
  }

  .image-merit {
    position: relative;
  }

  .h3-merit {
    position: absolute;
    top: 50%;
    font-size: 2.2rem;
    color: yellow;
    background-color: rgb(61, 61, 61);
    inset-inline: 0;
    text-align: center;
  }


  .s-four-text {
    font-size: 14px;
  }

  #A-description {
    font-size: 17px;
  }

  #div-futter {
    width: 90%;
  }

  small {
    font-size: 12px;
  }
}

@media (max-width: 1250px) {

  .feeling-image {
    width: 90%;
  }

  .machine-text {
    font-size: 4em;
  }

  .p-machine-description {
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .p-machine-description {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .div-hf24-merit p {
    padding: 20px 150px;
  }
}

@media (max-width: 865px) {
  #f-table{
    width: 100%;
    border-spacing: 3px 0px;
  }
  #f-table td {
    padding: 10px 5px;
  }
  .fs26{
    font-size: 16px;
  }
  .fs40{
    font-size: 22px;
  }
  .fs20{
    font-size: 11px;
  }
  .fs18{
    font-size: 13px;
  }
  .machine-text {
    font-size: 3.5em;
  }
}

/* 768px以上（PC用） */
@media (min-width: 768px) {
  .txt-area {
    display: flex;
    max-width: 800px;
    margin: 30px auto;
  }
  .txt {
    text-align: left;
    font-size: 18px;
  }

  #image-support {
    width: 90%;
  }

  .p-support {
    margin: 0vw 9vw;
  }

  #img-plan {
    width: 70%;
  }

  .heading06 {
    font-size: 5rem;

  }

  /* .anser p{
    font-size: 24px;
  } */
  .sp-content {
    display: none;
  }

  .heading {
    font-size: 3.5rem;
  }

  .heading-orange {
    font-size: 3.5rem;
  }

  p {
    font-size: 20px;
  }

  #quiztion {
    background-image: url(../image/dumbbell.JPG);
    background-size: cover;
  }

  #case-div {
    display: flex;
  }

  .case {
    font-size: 26px;
  }

  .img100 {
    width: 100%;
  }
}

@media (max-width: 565px) {
  #gym-img {
    width: 50%;
  }

  #gym-name {
    margin-top: 11.5vw;
    font-size: 1.5rem;
  }

  .machine-text {
    font-size: 2.5em;
  }

  .p-machine-description {
    font-size: 12px;
  }

  .s-four-box {
    padding: 2px;
    height: 35%;
  }

  .machine-text {
    padding-top: 5px;
  }

  #div-futter {
    display: block;
  }
}

@media (max-width: 450px) {
  .machine-text {
    font-size: 2em;
  }
}

@media (min-width: 460px) {
  .br-460 {
    display: none;
  }
}