@charset "utf-8";

.swiper {
  margin: 0 auto;
  width: 75%;
}

.s-four-wrap {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
.heading {
  padding: 5px 5px 5px 42px;
  background: linear-gradient(#77c3df, #0f50db);
  font-size: 2.5rem;
  color: white;
  line-height: 1.3;
  z-index: -1;
}
#A{
  font-size: 5rem;
  padding: 0px 0px 0px 20px;
}
#A-description{
  padding: 0px 20px 20px 20px;
}
.san_box {
  background: #eeeeee;
  position: relative;
  margin: 0 0 60px;
}
.san_box:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 50vw 0 50vw;
  border-color: #f0f0f0 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.san_box .san_in {
  text-align: center;
  padding: 30px 0 0;
}
.san_box .san_in .san_t_a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px;
}
.san_box .san_in .san_t_b {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.s-four-text,
.s-four-box {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  color: white;
}

.heading06 {
  margin-top: 11vw;
  position: relative;
  padding-top: 50px;
  text-align: center;
}

.heading06 span {
  position: relative;
  z-index: 2;
}

.heading06::before {
  content: attr(data-en);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 174, 255, 0.2);
  font-size: 80px;
  font-style: italic;
}

.s-four-text {
  top: 15%;
  padding: 10px;
  color: rgb(221, 215, 221);
  font-weight: bold;
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000, -1px 0px 0px #000,
    0px 1px 0px #000, 0px -1px 0px #000;
  color: #cfcdcc;
  background: #020010;
  font-size: 16pt;
  line-height: 1;
  margin: 10px 0px;
  padding: 10px 5px 10px 5px;
  box-shadow: 1px 3px 7px 0px #666666;
  border-top: 3px solid #805df2;
  border-radius: 5px;
}

.p-gym-name {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

h2 {
  text-align: center;
}
.center01{
  text-align: center;
  margin-top: 3vw;
}
.center02 {
  text-align: center;
}

.img-first-view {
  width: 100%;
  height: auto;
}

.first-view {
  position: relative;
}

.child {
  /*aタグを画像の真ん中に*/
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#case-div {
  margin: 0 auto;
  max-width: 1240px;
}

.case {
  background-image: url(../image/headingback.png);
  background-position: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.case-image {
  margin: 0 auto;
  width: 95%;
}


.h2-visit {
  color: red;
  margin-bottom: 10px;
}

.h2-quiztion {
  color: white;
  background-color: black;
  margin-bottom: 0px;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  padding: 0.9rem 0rem;
}

.h2-quiztion span {
  color: red;
}

.anser {
  color: white;
  background-color: blue;
  opacity: 0.9;
  padding: 3vw 2vw;
  border: solid;
  border-color: #ffffff;
}

.space {
  height: 15vw;
}

.image-div {
  text-align: center;
}

#quiztion {
  background-image: url(../image/dumbbell.JPG);
  background-size: cover;
  max-width: 1240px;
  margin: 10vw auto;
}

/* HF24を選ぶメリット */
.div-hf24-merit {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(41, 73, 255);

}

body, html {
  width: 100%;
  height: 100%;
}

header {
  padding: 20px 0;
}

header>h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

.div-hf24-merit {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.div-hf24-merit h3 {
  font-size: 60px;
  text-align: center;
  background-color: #0f50db;
  width: 100%;
}

.div-hf24-merit p {
  width: 100%;
  background-color: rgb(71, 71, 71);
}

.div-hf24-merit>div {
  padding: 350px 0;
  color: yellow;
  background-position: top center;
}

.div-hf24-merit>div:nth-of-type(odd) {
  background-color: black;
  /*skew*/
  transform: skewY(5deg);
}

.div-hf24-merit>div:nth-of-type(odd)>section {
  /*skew*/
  transform: skewY(-5deg);
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-hf24-merit>div:nth-of-type(even) {
  background-color: #0f50db;
  /*skew*/
  transform: skewY(-5deg);
}

.div-hf24-merit>div:nth-of-type(even)>section {
  /*skew*/
  transform: skewY(5deg);
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-hf24-merit>div:nth-of-type(1) {
  background-image: url(../image/point_01.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(2) {
  background-image: url(../image/point_02.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(3) {
  background-image: url(../image/point_03.jpg);
  background-size: cover;
}

.div-hf24-merit>div:nth-of-type(4) {
  background-image: url(../image/point_04.jpg);
  background-size: cover;
}

/* HF24を選ぶメリット */
/* 小見出し */
.heading {
  margin: 10vw 0vw 5vw 0vw;
  text-align: center;
}


.heading:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index: -2
}
.heading-orange {
  margin: 10vw 0vw 5vw 0vw;
  text-align: center;
}

.heading-orange {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: linear-gradient(#ff8009, #ffc06e);
  font-size: 2.5rem;
  color: white;
  line-height: 1.3;
  z-index: -1;
}

.heading-orange:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index: -2
}
/* 小見出し */

p>span {
  color: red;
}

#div-feeling {
  text-align: center;
}

#hatena {
  height: 100px;
}


.Text-Span {
  position: relative;
  z-index: 1;
}

.Text-Span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0%;
  height: 4px;
  background: #5bc8ac;
  z-index: -1;
  transition: all 0.8s;
}

.Text-Span.isActive:after {
  width: 100%;
}

.feeling-image {
  margin: 1.5vw 0vw;
  max-width: 1290px;
  width: 75%;
}

/* 以下アコーディオンメニュー */
.s_01 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;
}

.s_01 .accordion_one .accordion_header {
  background-color: #0f50db;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #0f50db;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #0f50db;
}

.s_01 .accordion_one .accordion_header:hover {
  opacity: .8;
}

.s_01 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.s_01 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before, .s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner {
  display: none;
  /* padding: 30px 30px; */
  border-left: 2px solid #0f59fa;
  border-right: 2px solid #0f59fa;
  border-bottom: 2px solid #0f59fa;
  box-sizing: border-box;
}


.s_01 .accordion_one .accordion_inner .box_one {
  /* これ高さを決める */
  height: 150px;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 18px;
  }

  .s_01 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

}

@media screen and (max-width: 767px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}

/* アコーディオンメニュー */
/* 以下ボタン */
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";



.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.5rem;
}

a.btn-custom01 {
  font-size: clamp(1.0rem, 2.5rem, 2.5rem);
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
  margin-bottom: 8vmax;
}


a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #a82700;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.fas {
  vertical-align: middle;

}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: rgb(255, 81, 0);
}



.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

/* ボタン */
.copy-light {
  font-size: 1.6rem;
  color: #fff;
  background: #000042;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.p-visit {
  text-align: center;
}

/* 767px以下（スマホ用）*/
@media (max-width: 767px) {
  .swiper {
    width: 95%;
  }
  .heading06 {
    font-size: 30px;
  }

  .swiper-slide {
    width: 100%;
  }

  .pc-content {
    display: none;
  }

  .case-div-child {
    text-align: center;
  }

  .image-merit {
    position: relative;
  }

  .h3-merit {
    position: absolute;
    top: 50%;
    font-size: 2.2rem;
    color: yellow;
    background-color: rgb(61, 61, 61);
    inset-inline: 0;
    text-align: center;
  }

  .h2-visit {
    font-size: 30px;
  }

  .txt-merit {
    color: white;
    background-color: #0f50db;
  }

  .txt-area {
    background-color: #e3f1ff;
    display: flex;
    padding: 15px;
    margin: 10px;
  }

  .txt-area:nth-child(2n+1) {
    flex-direction: row;
  }

  .txt-area:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: #e1ffec;
  }

  .txt {
    padding: 7px;
    font-size: 1.6rem;
  }

  .txt-span {
    color: red;
  }

  .customer {
    width: 120px;
    box-shadow: 5px 5px 1px 0 rgb(0 0 0 / 30%);

  }

  .name {
    text-align: center;
  }

  .s-four-text {
    font-size: 14px;
  }
}

@media (max-width: 1250px) {

  .feeling-image {
    width: 90%;
  }
}
@media (mix-width: 1250px) {

  .br-1250 {
    display: none;
  }
}
/* 768px以上（PC用） */

@media (min-width: 460px) {
  .br-460 {
    display: none;
  }
}

/* 768px以上（PC用） */
@media (min-width: 768px) {
  .heading06 {
    font-size: 5rem;

  }

  /* .anser p{
    font-size: 24px;
  } */
  .sp-content {
    display: none;
  }

  .heading {
    font-size: 3.5rem;
  }
  .heading-orange {
    font-size: 3.5rem;
  }

  p {
    font-size: 22px;
  }

  #quiztion {
    background-image: url(../image/dumbbell.JPG);
    background-size: cover;
  }

  #case-div {
    display: flex;
  }

  .case {
    font-size: 30px;
  }

}